:root {
	--vp-layout-max-width: 1550px;

	--vp-c-brand: #99bb8b;
	--vp-c-brand-light: #d8e9d2;
	--vp-c-brand-lighter: #eef5ec;
	--vp-c-brand-dark: #638854;
	--vp-c-brand-darker: #2a2e29;

	--vp-custom-block-info-border: var(--vp-c-border);
	--vp-custom-block-info-text: var(--vp-c-text-1);
	--vp-custom-block-info-bg: var(--vp-c-bg-soft);

	--vp-custom-block-tip-border: var(--vp-c-brand-dark);
	--vp-custom-block-tip-text: var(--vp-c-brand-darker);
	--vp-custom-block-tip-bg: var(--vp-c-brand-lighter);
}

.dark {
	--vp-c-brand: #99bb8b;
	--vp-c-brand-light: #638854;
	--vp-c-brand-lighter: #2a2e29;
	--vp-c-brand-dark: #d8e9d2;
	--vp-c-brand-darker: #eef5ec;

	--vp-custom-block-tip-border: var(--vp-c-brand-light);
	--vp-custom-block-tip-text: var(--vp-c-brand-darker);
	--vp-custom-block-tip-bg: var(--vp-c-brand-lighter);

	& .vp-doc {
		& h3 {
			color: var(--vp-c-brand-dark);
			background-color: var(--vp-c-brand-lighter);
		}
	}
}

// CONTENT

.content-container {
	max-width: 800px !important;
}

.vp-doc {
	& a {
		color: var(--vp-c-brand);
		&:hover {
			text-decoration: underline;
		}
	}

	& h1 {
		font-weight: 900 !important;
		text-transform: uppercase !important;
	}

	& h2 {
		font-size: 1.7rem !important;
		font-weight: 700 !important;
	}

	& h3 {
		color: var(--vp-c-brand-darker);
		background-color: var(--vp-c-brand-light);
		background-clip: content-box !important;
		font-size: 1.2rem !important;
		line-height: 2rem !important;
		margin-top: 2.5rem !important;
		margin-bottom: 1rem !important;

		&::before {
			content: '\00a0 ' !important;
		}
	}

	& blockquote {
		font-family: 'Georgia', 'Times New Roman', Times, serif;
		font-style: italic;

		& p {
			font-size: 1.1rem !important;
		}
	}

	& table {
		& th {
			padding-left: 10px !important;
			padding-right: 10px !important;
			border: none !important;
			font-size: 0.8rem;
			font-weight: 700;
			line-height: 1rem;
		}

		& td {
			border: none !important;
			white-space: nowrap;
			padding-left: 10px !important;
			padding-right: 10px !important;
			font-size: 0.8rem;

			&:nth-child(1) {
				font-weight: 600;
			}
		}

		& tr {
			padding-left: 8px !important;
			padding-right: 8px !important;
			border: none !important;

			&:nth-child(even) {
				background-color: var(--vp-c-brand-lighter);
			}
		}
	}
}

// SIDEBAR

.VPLink {
	& h3 {
		font-weight: 700 !important;
	}
}

// BLOCKS

.custom-block {
	border: none;
	border-radius: 0.3rem;
	padding: 1rem;
	border-left-width: 0.5rem;
	border-left-style: solid;

	margin: 1rem 0;
}

// HERO

.VPHero {
	& h1 {
		font-weight: 900 !important;
		text-transform: uppercase !important;
	}

	& .tagline {
		font-size: 1.2rem !important;
		line-height: 1.2 !important;
	}
}

footer .message {
	font-size: 0.8rem !important;
}

// BUTTONS

.action {
	padding: 2px !important;
}

.prev-next {
	border: none !important;
}

.VPButton.medium {
	border: none !important;
	border-radius: 0.3rem !important;
	color: white !important;
	padding: 0.2rem 0.8rem !important;

	&.characters {
		background-color: #f59e0b;

		&:hover {
			background-color: #d97706;
		}
	}

	&.adventures {
		background-color: #9333ea;

		&:hover {
			background-color: #7e22ce;
		}
	}

	&.magic {
		background-color: #16a34a;

		&:hover {
			background-color: #15803d;
		}
	}

	&.monsters {
		background-color: #dc2626;

		&:hover {
			background-color: #b91c1c;
		}
	}

	&.treasures {
		background-color: #2563eb;

		&:hover {
			background-color: #1d4ed8;
		}
	}
}

// COIN

.coin {
	color: black;
	font-weight: 600;
	font-size: 0.8rem;
	border-radius: 50%;
	margin: 0px 1px;
	width: 22px;
	line-height: 22px;
	display: inline-block;
	text-align: center;

	&.p {
		background-color: #94a3b8;
	}
	&.g {
		background-color: #fcd34d;
	}
	&.e {
		background-color: #7dd3fc;
	}
	&.s {
		background-color: #cbd5e1;
	}
	&.c {
		background-color: #d97706;
	}
}

// HAMBURGER

.VPNavBarHamburger .container {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb24tdGFibGVyLWJvb2stMiIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIj48L3BhdGg+PHBhdGggZD0iTTE5IDR2MTZoLTEyYTIgMiAwIDAgMSAtMiAtMnYtMTJhMiAyIDAgMCAxIDIgLTJoMTJ6Ij48L3BhdGg+PHBhdGggZD0iTTE5IDE2aC0xMmEyIDIgMCAwIDAgLTIgMiI+PC9wYXRoPjxwYXRoIGQ9Ik05IDhoNiI+PC9wYXRoPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-size: contain;
	width: 1.5rem;
	height: 1.5rem;

	& .top,
	& .middle,
	& .bottom {
		display: none;
	}
}
