/* General */

@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
     font-family: 'Merriweather', serif;
}

/* Headers */

h3 {
     margin-top: 0rem !important;
     padding: 0.4rem !important;
     background-color: #D9EBD3 !important;
}

/* Blocks */


.tip {
     border-color: #C6D6C0 !important;
     background-color: #D9EBD3 !important;
}
.warning {
     color: #32160a !important;
     background-color: #e8dac1 !important;
     border-color: #d28f51 !important;
}
.warning .custom-block-title {
     color: #32160a !important;
}

/* Table */

th {
     color: white;
     background-color: black !important;
}
tr:nth-child(even) {
     background-color: #D9EBD3 !important;
}

/* Homepage */

#main-title {
     display: none !important;
}
