/* Variables */
$brand-color = #D9EBD3
$font-main-color = #2C3E50
$warning-color = #ECE0CC
$table-header-font-color = #FFFFFF
$table-header-background-color = #000000

/* Font */
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body
  font-family Merriweather, serif

/* Headers */
h3
  margin-top 2rem !important
  padding 0.4rem !important
  background-color $brand-color !important

/* Sidebar */
a.sidebar-link.active
  font-style italic
  outline none

/* Blocks */
mark
  background-color $table-header-background-color !important
  color $table-header-font-color !important
  padding-top 5px
  padding-left 15px
  padding-right 15px
  padding-bottom 20px

.micro
  font-size 0.8rem

hr
  border-color $font-main-color !important

.tip
  border-color $brand-color - 20% !important
  background-color $brand-color !important

.warning
  color $warning-color - 80% !important
  background-color $warning-color !important
  border-color $warning-color - 20% !important

.warning .custom-block-title
  color $warning-color - 80% !important

.custom-block.warning a
  color $warning-color - 50% !important

/* Tables */
th
  color $table-header-font-color
  border-color $table-header-background-color !important
  background-color $table-header-background-color !important

tr:nth-child(even)
  background-color $brand-color !important

td
  border-color $table-header-font-color !important

/* Homepage */
#main-title
  display none !important

.action-button
  background-color $brand-color - 20% !important
  border-color $brand-color - 20% !important
