@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://rsms.me/inter/inter.css");

:root {
  // fonts
  --font-family: "Inter", serif;
  --font-family-serif: "PT Serif", "Georgia", sans-serif;

  // text colors
  --c-text: #1c1917;
  --c-text-light: #292524;
  --c-text-lighter: #44403c;
  --c-text-lightest: #57534e;

  // brand colors
  --c-brand: #709960;
  --c-brand-light: #d9ead3;

  // custom containers
  --c-tip: var(--c-brand);
  --c-tip-bg: var(--c-brand-light);
  --c-info: #78716c;
  --c-info-bg: #f5f5f4;
  --c-info-text: #292524;
  --c-info-title: #292524;
  --c-info-text-accent: #fafaf9;
}

html.dark {
  // background colors
  --c-bg: #1c1917;
  --c-bg-light: #292524;
  --c-bg-lighter: #44403c;

  // text colors
  --c-text: #e7e5e4;
  --c-text-light: #f5f5f4;
  --c-text-lighter: #fafaf9;
  --c-text-lightest: #fafaf9;

  // custom containers
  --c-info: #78716c;
  --c-info-bg: #44403c;
  --c-info-text: #f5f5f4;
  --c-info-title: #f5f5f4;
  --c-info-text-accent: #d6d3d1;
}

h3 {
  background-color: var(--c-brand-light) !important;
  background-clip: content-box !important;
}

blockquote {
  font-style: italic;
  font-family: var(--font-family-serif);
}

.theme-default-content li {
  list-style-type: "▸" !important;
}

.sidebar-item.sidebar-heading {
  text-transform: uppercase !important;
}

p.sidebar-item {
  font-style: italic !important;
  font-weight: 600 !important;
}

.custom-container {
  &.info {
    border-color: var(--c-info);
    background-color: var(--c-info-bg);
    color: var(--c-info-text);

    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;

    .custom-container-title {
      color: var(--c-info-title);
    }

    a {
      color: var(--c-info-text-accent);
    }
  }
}
