@import url("https://rsms.me/inter/inter.css");

:root {
  --content-width: 920px;
  // fonts
  --font-family: "Inter", "Roboto", "Arial", sans-serif;
  --font-family-serif: "Georgia", serif;

  // text colors
  --c-text: #1c1917;
  --c-text-light: #292524;
  --c-text-lighter: #57534e;
  --c-text-lightest: #78716c;

  // brand colors
  --c-brand: #709960;
  --c-brand-light: #d9ead3;

  // custom containers
  --c-tip: var(--c-brand);
  --c-tip-bg: var(--c-brand-light);
  --c-info: #78716c;
  --c-info-bg: #f5f5f4;
  --c-info-text: #292524;
  --c-info-title: #292524;
  --c-info-text-accent: #fafaf9;
  --c-ref: #0369a1;
  --c-ref-bg: #f0f9ff;
}

html.dark {
  // background colors
  --c-bg: #1c1917;
  --c-bg-light: #292524;
  --c-bg-lighter: #44403c;

  // text colors
  --c-text: #fafaf9;
  --c-text-light: #e7e5e4;
  --c-text-lighter: #d6d3d1;
  --c-text-lightest: #a8a29e;

  // custom containers
  --c-tip: var(--c-brand);
  --c-tip-bg: #064e3b;
  --c-info: #78716c;
  --c-info-bg: #44403c;
  --c-info-text: #f5f5f4;
  --c-info-title: #f5f5f4;
  --c-info-text-accent: #d6d3d1;
  --c-ref: #e0f2fe;
  --c-ref-bg: #0f262e;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  font-size: 1.7rem;
  font-weight: 800;
  border-bottom: none;
}

h3 {
  background-color: var(--c-brand-light);
  background-clip: content-box;
  line-height: 1.5;
}

h3::before {
  content: "\00a0 ";
}

blockquote {
  font-style: italic;
  font-family: var(--font-family-serif);
}

table {
  font-size: 14px;
}

.theme-default-content ul {
  list-style-type: "▸";
}

.sidebar-item.sidebar-heading {
  text-transform: uppercase;
}

.sidebar-item-children .sidebar-item:not(p.sidebar-heading) {
  font-weight: 600;
}

.sidebar-item-children .sidebar-item:hover {
  text-decoration: underline;
}

.sidebar-item-children .sidebar-item-children .sidebar-item {
  color: var(--c-text-lightest);
  font-weight: 400 !important;
}

.sidebar-item-children .sidebar-item-children .sidebar-item:active {
  color: var(--c-brand) !important;
}

.custom-container {
  &.info {
    border-color: var(--c-info);
    background-color: var(--c-info-bg);
    color: var(--c-info-text);

    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;

    .custom-container-title {
      color: var(--c-info-title);
    }

    a {
      color: var(--c-brand);
    }
  }
  &.ref {
    border-color: var(--c-ref);
    background-color: var(--c-ref-bg);
    color: var(--c-text);

    padding: 0.1rem 1rem;
    border-left-width: 0.5rem;
    border-left-style: dashed;
    margin: 1rem 0;

    .custom-container-title {
      color: var(--c-info-title);
    }

    a {
      color: var(--c-ref);
    }
  }
}

// Hero

.home .hero .description {
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--c-text-lighter);
}

.home .feature p {
  font-size: 0.9rem;
}

.home .hero .action-button {
  border: none;
  color: white;
  padding: 0.8rem 1rem;
}

.home .hero .action-button.characters {
  background-color: #caa835;
}

.home .hero .action-button.characters:hover {
  background-color: #aa8d2e;
}

.home .hero .action-button.adventures {
  background-color: #5d1c5e;
}

.home .hero .action-button.adventures:hover {
  background-color: #4a174b;
}

.home .hero .action-button.magic {
  background-color: #216935;
}

.home .hero .action-button.magic:hover {
  background-color: #185028;
}

.home .hero .action-button.monsters {
  background-color: #7d1416;
}

.home .hero .action-button.monsters:hover {
  background-color: #681316;
}

.home .hero .action-button.treasures {
  background-color: #1a3075;
}

.home .hero .action-button.treasures:hover {
  background-color: #162657;
}

// COIN

.block {
  display: inline-block;
}

.coin {
  padding: 0.15rem;
  border-radius: 100%;
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-left: 1px;
}
.coin.p {
  background-color: #94a3b8;
}
.coin.g {
  background-color: #fcd34d;
}
.coin.e {
  background-color: #7dd3fc;
}
.coin.s {
  background-color: #cbd5e1;
}
.coin.c {
  background-color: #d97706;
}
