/* Font */

@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');

/* Body */

body
  font-family 'PT Serif', serif
  font-size 1.1rem !important

/* Headers */

h1
  font-size 3rem !important
  font-variant small-caps !important

h2
  font-size 2.4rem !important
  font-variant small-caps !important

h3
  font-size 1.7rem !important
  background-color $brandColor !important
  background-clip content-box !important

h4
  font-size 1.3rem !important

.theme-default-content:not(.custom) ul
  list-style-type '▸' !important

/* Sidebar */

a.sidebar-link.active
  font-style italic !important
  outline none !important

.arrow.right
  display none !important

.arrow.down
  display none !important
 
/* Containers */

.tip
  border-color $brandColor - 20% !important
  background-color $brandColor !important

.warning
  color $warningColor - 80% !important
  background-color $warningColor !important
  border-color $warningColor - 20% !important

.warning .custom-block-title
  color $warningColor - 80% !important

.custom-block.warning a
  color $warningColor - 50% !important

.danger
  color $dangerColor - 80% !important
  background-color $dangerColor !important
  border-color $dangerColor - 20% !important

.danger a
  text-decoration underline !important

/* Tables */

th
  color $tableHeaderFontColor !important
  background-color $tableHeaderBackgroundColor !important  
  border-color $tableBorderColor !important
  border-bottom-color $textColor !important
  border-bottom-width 3px !important

tr:nth-child(odd)
  background-color $brandColor + 30% !important

tr:nth-child(even)
  background-color $tableBorderColor !important

td
  border-color $tableBorderColor !important
  padding .3em !important

/* Homepage */

#main-title
  display none !important

.action-button
  background-color $brandColor - 20% !important
  border-color $brandColor - 20% !important

/* Other */

mark
  background-color $tableHeaderBackgroundColor !important
  color $tableHeaderFontColor !important
  padding 5px !important

.micro
  font-size 0.8rem !important

hr
  border-color $tableBorderColor !important