$brand-color = #dbe8d4
$textColor = #222222
$warning-color = #ECE0CC
$danger-color = #dfe6e9
$table-header-font-color = $textColor
$table-border-color = #FFFFFF
$table-header-background-color = #FFFFFF
$homePageWidth = 1000px
$contentWidth = 1000px