$brandColor = #dbe8d4
$textColor = #222222
$warningColor = #ECE0CC
$dangerColor = #dfe6e9
$tableHeaderTextColor = $textColor
$tableBorderColor = #FFFFFF
$tableHeaderBackgroundColor = #FFFFFF
$homePageWidth = 900px
$contentWidth = 900px