---
interface Props {
  v: string;
  t?: "p" | "c" | "e" | "s" | "g";
}

const { v = "0", t = "g" } = Astro.props;
const value = Number(v).toLocaleString("ru-RU");
const coinTypes: Record<string, string> = {
  p: "пм",
  c: "мм",
  e: "эм",
  s: "см",
};
const coinColors: Record<string, string> = {
  p: "bg-slate-400",
  g: "bg-amber-300",
  e: "bg-sky-300",
  s: "bg-slate-300",
  c: "bg-amber-600",
};
---

<span class="whitespace-nowrap">
  {v !== "0" && <span class="text-sm font-semibold">{value}</span>}
  <span
    class:list={[
      "m-0 ml-1 inline-block size-5 rounded-full text-center text-xs font-bold leading-5 text-black",
      coinColors[t] || coinColors.g,
    ]}
  >
    {coinTypes[t] || "зм"}
  </span>
</span>
