---
import { getEntry, render } from "astro:content";

interface Props {
  id: string;
}

const { id } = Astro.props;

const entry = await getEntry("spells", id);

if (!entry) {
  throw new Error("Spell not found!");
}

const { Content } = await render(entry);
const { name, original, type, level, duration, range } = entry.data;
---

<div style="margin-bottom: 3rem; display: flex; flex-direction: column;">
  <slot />
  <div style="color: var(--sl-color-accent);">
    <span><em>{original}</em></span>
    <span> &mdash; </span>
    <span>
      <em>
        {type === "arcane" ? "Мистическое" : "Божественное"} заклинание {
          level
        }-го круга</em
      >
    </span>
  </div>

  <div
    style="display: flex; flex-direction: column; background-color: var(--sl-color-accent-low); padding: 0.5rem 1rem; border-left: 4px solid var(--sl-color-accent);"
  >
    <span><strong>Длительность:</strong> {duration}</span>
    <span><strong>Дистанция:</strong> {range}</span>
  </div>

  <Content />
</div>
